body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-container {
    display: flex;
    height: 100vh;
}


p {
    line-height: 1.8em;
    text-align: justify;
    padding-bottom: 20px;
}

h1 {
    font-size: 50px;
}

.highlight {
    color: goldenrod;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
    padding-top: 10%;
}

.btn-link {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg, orangered, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.dream-big {
    background-color: #C5DDF3;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.experiences-area {
    padding: 0 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    /* background-position: 100%; */
    background-position-y: 60%;
}

.experiences-area .flex-container {
    height: 60vh;
    padding: 0 0 100px 0;
}
.experience {
    width: 40%;
    /* height: 80%; */
    margin: 20px;
    padding: 0 5%;
    border: 0.5px dotted rgb(211, 10, 10);
    border-left: 20px solid orangered;
    box-shadow: 10px 10px 10px grey;
    transition: 2s;
}
.full-dev {
    border-image: linear-gradient(#18fd03, #6705d6) 30;
}
.intern-dev {
    border-image: linear-gradient(#490597, #7ef309) 30;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
}